

{% extends "base.html" %}

{% block content%}

<div class="container py-4 text-center">


    {% if current_user.is_authenticated %}

    <h1>Welcome {{ current_user.username }}</h1>
    {{ current_user.first_name }}
    <a href="{{url_for('logout')}}">Logout</a>

    {% else %}

    <a href="{{url_for('login')}}">Sign in/Sign Up</a>
    
    {% endif %}


  
      
</div>
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card card-custom gutter-b" style="background-color: #e1dede;">
                <div class="card-body">
                    <!--begin::Top-->
                    <div class="d-block">
                        <!--begin::Pic-->
                        <div class="flex-shrink-0 mr-7" style="padding-right: 42%;">
                            <div class="symbol symbol-50 symbol-lg-120">
                                <img alt="Pic" src="/static/assets/media/{{current_user.profile_pic}}" onerror="this.onerror=null; this.src='static/assets/media/default.jpg'"
                                    style="border-radius :57%" />
                            </div>
                        </div>
                        <!--end::Pic         -->
                        <!--begin: Info-->

						
						
<div class="mt-8" style="padding-right: 30%;">
                            <div class="form-group row">
                                <label for="inputEmail3"
                                    class="col-sm-2 col-form-label font-weight-bolder">اسم المستخدم</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                        style="background-color: #efefef;" value="{{current_user.username}}" disabled>
                                </div>
                            </div>

                        </div>
<div class="mt-8" style="padding-right: 30%;">
                            <div class="form-group row">
                                <label for="inputEmail3"
                                    class="col-sm-2 col-form-label font-weight-bolder">الاسم الأول </label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                        style="background-color: #efefef;" value="{{current_user.first_name}}" disabled>
                                </div>
                            </div>

                        </div>
<div class="mt-8" style="padding-right: 30%;">
                            <div class="form-group row">
                                <label for="inputEmail3"
                                    class="col-sm-2 col-form-label font-weight-bolder">الاسم الأخير</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                        style="background-color: #efefef;" value="{{current_user.last_name}}" disabled>
                                </div>
                            </div>

                        </div>
<div class="mt-8" style="padding-right: 30%;">
                            <div class="form-group row">
                                <label for="inputEmail3"
                                    class="col-sm-2 col-form-label font-weight-bolder">الرقم القومي</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                        style="background-color: #efefef;" value="{{current_user.national_id}}" disabled>
                                </div>
                            </div>

                        </div>
<div class="mt-8" style="padding-right: 30%;">
                            <div class="form-group row">
                                <label for="inputEmail3"
                                    class="col-sm-2 col-form-label font-weight-bolder">الجنسية</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                        style="background-color: #efefef;" value="{{current_user.nationality }}" disabled>
                                </div>
                            </div>

                        </div>
<div class="mt-8" style="padding-right: 30%;">
                            <div class="form-group row">
                                <label for="inputEmail3"
                                    class="col-sm-2 col-form-label font-weight-bolder">الجنس</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                        style="background-color: #efefef;" value="{{current_user.gender}}" disabled>
                                </div>
                            </div>

                        </div>
<div class="mt-8" style="padding-right: 30%;">
                            <div class="form-group row">
                                <label for="inputEmail3"
                                    class="col-sm-2 col-form-label font-weight-bolder">تاريخ الميلاد</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                        style="background-color: #efefef;" value="{{current_user.date_of_birth}}" disabled>
                                </div>
                            </div>

                        </div>
<div class="mt-8" style="padding-right: 30%;">
                            <div class="form-group row">
                                <label for="inputEmail3"
                                    class="col-sm-2 col-form-label font-weight-bolder">رقم المحمول</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                        style="background-color: #efefef;" value="{{current_user.mobile_number}}" disabled>
                                </div>
                            </div>

                        </div>
<div class="mt-8" style="padding-right: 30%;">
                            <div class="form-group row">
                                <label for="inputEmail3"
                                    class="col-sm-2 col-form-label font-weight-bolder">البريد الالكتروني</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                        style="background-color: #efefef;" value="{{current_user.email}}" disabled>
                                </div>
                            </div>

                        </div>
<div class="mt-8" style="padding-right: 30%;">
                            <div class="form-group row">
                                <label for="inputEmail3"
                                    class="col-sm-2 col-form-label font-weight-bolder">نوع المستخدم</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control"
                                        style="background-color: #efefef;" value="{{current_user.user_type}}" disabled>
                                </div>
                            </div>

                        </div>



                        <!--end::Info-->
                    </div>
                    <!--end::Top-->
                    <!--begin::Separator-->
                    <div class="separator separator-solid my-7"></div>
                    <!--end::Separator-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->



{% endblock %}