<div class="col-12 mt-8">
    <div class="tab-content">
      <div
        class="tab-pane fade active show"
        id="tab1"
        role="tabpanel"
        aria-labelledby="home-tab">
        <div class="row">
          <!--begin::Col-->
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
            <!--begin::Card-->
            <div class="card card-custom gutter-b card-stretch">
              <!--begin::Body-->
              <div class="card-body pt-4">
                <!--begin::User-->
                <div
                  class="d-flex mb-7"
                  style="justify-content: space-between"
                >
                  <!--begin::Pic-->
                  <div class="d-flex align-items-center">
                    <!--begin::Pic-->
                    <div class="flex-shrink-0 mr-4 mt-lg-0 mt-3">
                      <div class="">
                        <img
                          src="/static/assets/media/new/H.png"
                          width="200px"
                          alt="image"
                        />
                      </div>
                      <div
                        class="symbol symbol-lg-75 symbol-circle symbol-primary d-none"
                      >
                        <span
                          class="font-size-h3 font-weight-boldest"
                          >dfdfdfdfdf</span
                        >
                      </div>
                    </div>
                    <!--end::Pic-->
                  </div>
                  <div>
                    <input
                      form="mainform"
                      name="hall"
                      value=""
                      type="radio"
                      class="form-control"
                    />
                  </div>
                  <!--end::Title-->
                </div>
                <!--end::User-->
                <!--begin::Desc-->
                <p class="mb-7 font-weight-bolder">
                  <span>قاعة 1</span>

                  <br />
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </p>
                <!--end::Desc-->
              </div>
              <!--end::Body-->
            </div>
            <!--end::Card-->
          </div>
          <!--end::Col-->
        </div>
      </div>


    </div>
  </div>